body {
  background: linear-gradient(135deg, #43cea2 0%, #185a9d 50%, #f8ffae 100%);
  font-family: monospace;
  font-size: medium;
  font-weight: bold;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 50px;
}

.formClass {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border: 2px solid black;
  background-color: lightgrey;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
